* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  background-image: url("../../img/wp2446274.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.orcamento-mes {
  padding: 1rem 0;
  color: #fff;
}

.valor-ganho {
  padding: 1rem 0;
  color: #fff;
  font-size: 4rem;
}

.box-header {
  display: flex;
  justify-content: space-between;
  width: 34rem;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.color-header-renda {
  background-color: #32cd32;
}

.color-header-gasto {
  background-color: rgba(224, 17, 17, 0.856);
}

.box-valor {
  color: #fff;
}

.box-renda {
}

.box-gastos {
}
